<form id="formulario" action="/inscricoes" method="post">
        <h1>Formulário de Inscrição</h1>

        <label for="nome">Nome completo:</label>
        <input type="text" id="nome" name="nome">

        <label for="cracha">Nome no crachá:</label>
        <input type="text" id="cracha" name="cracha">

        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="cpf">

        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email">

        <label for="modalidade">Modalidade:</label>
        <select id="modalidade" name="modalidade" onchange="mostrarComprovante()">
            <option value="">Selecione uma modalidade</option>
            <option value="publico-geral">Público geral</option>
            <option value="estudante">Estudante</option>
        </select>

        <label for="comprovante" id="labelComprovante" style="display:none;">Enviar comprovante de vínculo
            acadêmico:</label>
        <input type="file" id="comprovante" name="comprovante" style="display:none;">

        <label for="curso">Cursos:</label>
        <select id="curso" name="curso">
            <option selected>Selecione o(os) curso(os) que deseja fazer</option>
            <option value="1" data-nome="Introdução a Power BI">Introdução a Power BI</option>
            <option value="2" data-nome="Fundamentos de Web3">Fundamentos de Web3</option>
            <option value="3" data-nome="Boas Práticas em SQL">Boas Práticas em SQL</option>
        </select>
        <button type="button" onclick="adicionarCurso()">Adicionar Curso</button>
        
        <ul id="cursosSelecionados"></ul>

        <button type="submit">Enviar</button>
    </form>