#header{
    z-index: 1;
}

section{
    margin-top: 26px;
}

.palestrantes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.card{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.img-fluid{
    width: 100%;
    height: 100%;
}

.titulo{
    text-transform: uppercase;
}


.card-text a{
    background-color: rgb(0, 114, 66);
    color: #ffffff;
    text-decoration: none;
    padding: 7px 7px;
    border-radius: 6px;
}

.card-text a:hover{
    color: #ffffff;
    text-decoration: none;
    background-color: rgb(0, 158, 92);
}

h5{
    color: black;
}
