#palestrantes {
    background: #fff;
    padding: 80px 0 60px 0;
}

#palestrantes .member {
    text-align: center;
    margin-bottom: 20px;
}

#palestrantes .member .pic {
    margin-bottom: 15px;
    overflow: hidden;
}
.pic:hover{
    box-shadow: 5px 5px 15px 10px;
}

#palestrantes .member .pic img {
    max-width: 100%;
}

#palestrantes .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
}

#palestrantes .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
    color: rgb(0, 114, 66);

}

#palestrantes .member .social {
    margin-top: 15px;
}

#palestrantes .member .social a {
    color: #b3b3b3;
}

#palestrantes .member .social a:hover {
    color: #5C9110;
}

#palestrantes .member .social i {
    font-size: 18px;
    margin: 0 2px;
}
.row{
    display: flex;
    justify-content: center;
}

.palestranteBT{
    background-color: rgb(0, 114, 66);
    width: 207px;
    margin-bottom: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    text-align: center;
}
.palestranteBT:hover{
    background-color: rgb(0, 158, 92);
    color: rgb(255, 255, 255);
}