<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UEPA - Evento</title>

    <!-- CSS BootStrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <!-- CSS Personalizado-->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/inscricao.css">

    <!-- biblioteca para gerar pdf-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/vfs_fonts.js"></script>

</head>

<body>

    <!-- Header - navbar -->
    <header id="header">
        <a id="logo" href="">CITRA</a>
        <nav id="nav">
            <button aria-label="Abrir Menu" id="btn-mobile" aria-haspopup="true" aria-controls="menu"
                aria-expanded="false">Menu
                <span id="hamburger"></span>
            </button>
            <ul id="menu" role="menu">
                <li><a href="/">Inicio</a></li>
                <li><a href="/#sobre">Sobre</a></li>
                <li><a href="/programacao.html">Programação</a></li>
                <li><a href="/palestrantes.html">Palestrantes</a></li>
                <li><a href="/inscricao">Inscrição</a></li>
                <li><a href="/artigos.html">Artigos</a></li>
                <li><a href="/noticias.html">Noticias</a></li>
                <li><a href="/">Contato</a></li>
            </ul>
        </nav>
    </header>

    <form id="formulario" action="/inscricoes" method="post">
        <h1><strong>Formulário de Inscrição</strong></h1>

        <label for="nome">Nome completo:</label>
        <input type="text" id="nome" required name="nome">

        <label for="cracha">Nome no crachá:</label>
        <input type="text" id="cracha" required name="cracha">

        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" required name="cpf">

        <label for="email">E-mail:</label>
        <input type="email" id="email" required name="email">

        <label for="modalidade">Modalidade:</label>
        <select id="modalidade" required name="modalidade" onchange="mostrarComprovante()">
            <option value="">Selecione uma modalidade</option>
            <option value="publico-geral">Público geral</option>
            <option value="estudante">Estudante</option>
        </select>

        <label for="curso">Cursos:</label>
        <select id="curso" required name="curso">
            <option selected>Selecione o(os) curso(os) que deseja fazer</option>
            <% cursos.forEach(function(curso) { %>
                <option data-valor="<%= curso.valor %>" data-texto="<%= curso.nome %>">
                    <%= curso.nome %> - <%= curso.valor %>
                </option>
                <% }); %>
        </select>
        <button type="button" id="adicionarCurso">Adicionar Curso</button>
        


        <h2>Cursos Selecionados:</h2>
        <ul id="listaCursos" name="cursos"></ul>

        <h2>Valor Total: <p id="valorTotal" name="pagamento">R$0,00</p>
        </h2>

        <!--pix and card -->
        <h2>Forma de pagamento:</h2>

        <div class="pagamentos">
            <input type="radio" id="pix" required name="pagamento" value="pix" onchange="mostrarCampoPix()">
            <label for="pix">PIX</label>

            <input type="radio" id="presencial" required name="pagamento" value="presencial" onchange="ocultarCampoPix()">
            <label for="presencial">Presencialmente</label>
        </div>

        <div id="campoPix" style="display: none;">
            <img src="/imgs/qrcode.png" alt="Imagem" class="qrcode">
            <p>Sua inscrição estará confirmada logo após a realização do pagamento via PIX.</p>
        </div>

        <button onclick="gerarComprovantePDF()" type="submit" >Enviar</button>
        
    </form>

    <!-- JavaScript BootStrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

    <!-- JavaScript navbar-->
    <script src="/javascript/navbar.js"></script>
    <script src="/javascript/inscricao.js"></script>

    <!--JavaScript gerar comprovante de inscrição-->
    <script>
        function gerarComprovantePDF() {
            //pegando os elementos inseridos no forms
            var nome = document.getElementById('nome').value;
            var nomeCracha = document.getElementById('cracha').value;
            var cpf = document.getElementById('cpf').value;
            var email = document.getElementById('email').value;
            var modalidade = document.getElementById('modalidade').value;
            var selectCurso = document.getElementById('curso');
            var cursoSelecionado = selectCurso.options[selectCurso.selectedIndex];
            var cursoValor = cursoSelecionado.getAttribute('data-valor');
            var cursoTexto = cursoSelecionado.getAttribute('data-texto');

            //mostrando cada elemento de forma estruturada no pdf
            var docDefinition = {
                content: [
                { text: 'Comprovante de Inscrição', style: 'header' },
                { text: 'Nome: ' + nome },
                { text: 'Nome no Crachá: ' + nomeCracha },
                { text: 'CPF: ' + cpf },
                { text: 'Email: ' + email },
                { text: 'Modalidade: ' +  modalidade },
                { text: 'Cursos: ' + cursoTexto },
                { text: 'Valor: ' + cursoValor }
                ],
                styles: {
                header: {
                    fontSize: 18,
                    bold: true,
                    margin: [0, 0, 0, 10] // margem: [cima, esquerda, baixo, direita]
                }
                }
            };

            //pegando todo os elemetos do formulario
            var formulario = document.getElementById('formulario');
            var camposPreenchidos = formulario.checkValidity(); //metodo para checar se os campos do forms foram preenchidos

            //condição
            if (camposPreenchidos) { //caso os campos foram preenchidos alertar que a inscricao foi realizada e gerar comprovante pdf
                alert('Inscrição realizada com sucesso! Clique em OK para gerar o Comprovante de Inscrição.');
                pdfMake.createPdf(docDefinition).download('comprovante.pdf');
                
            } else { //caso os campos nao foram preenchidos da forma correta, alertar a mensagem a baixo:
                // Lógica para lidar com campos não preenchidos
                alert('Por favor, preencha todos os campos obrigatórios.');
            }
        
        }

    </script>
</body>

</html>