<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UEPA - Evento</title>

  <!-- CSS BootStrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

  <!-- CSS Personalizado-->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/palestrantes.css">

</head>

<body>

  <!-- Header - navbar -->
  <header id="header">
    <a id="logo" href="">CITRA</a>
    <nav id="nav">
      <button aria-label="Abrir Menu" id="btn-mobile" aria-haspopup="true" aria-controls="menu"
        aria-expanded="false">Menu
        <span id="hamburger"></span>
      </button>
      <ul id="menu" role="menu">
        <li><a href="/">Inicio</a></li>
        <li><a href="#sobre">Sobre</a></li>
        <li><a href="/programacao.html">Programação</a></li>
        <li><a href="/palestrantes.html">Palestrantes</a></li>
        <li><a href="/inscricao.html">Inscrição</a></li>
        <li><a href="/artigos.html">Artigos</a></li>
        <li><a href="/noticias.html">Noticias</a></li>
        <li><a href="/">Contato</a></li>
      </ul>
    </nav>
  </header>

  <section class="main">

    <p class="titulo d-flex justify-content-center"><strong>
      Saiba mais sobre os palestrantes que estarão presentes no
        evento.
    </strong>
    </p>

    <div class="palestrantes">

      <div class="card mb-3" style="max-width: 740px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="imgs/palestrantes/thiago.jpeg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><strong>Thiago Conte</strong></h5>
              <p class="card-text">Mestre em Engenharia Elétrica, na área de computação aplicada, com ênfase em Inteligência Computacional, formado pelo Programa de Prós-Graduação em Engenharia Elétrica (PPGEE) da Universidade Federal do Pará (UFPA), Especialista em Desenvolvimento de Sistemas Baseados em software livre pela Universidade da Amazônia (UNAMA)</p>
              <p class="card-text"><a href="https://www.escavador.com/sobre/8692767/thiago-nicolau-magalhaes-de-souza-conte" target="_blank" rel="external">Veja mais sobre</a></p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3" style="max-width: 740px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="imgs/palestrantes/anderson.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><strong>Anderson Costa</strong></h5>
              <p class="card-text">Mestre em Ciência da Computação pelo Programa de Pós-Graduação em Ciência da Computação da Universidade Federal do Pará (PPGCC-UFPA), possui graduação em Bacharelado em Ciência da Computação pela Universidade Federal do Pará (UFPA) e graduação em Licenciatura Plena em Matemática pela Universidade do Estado do Pará (UEPA).</p>
              <p class="card-text"><a href="https://www.escavador.com/sobre/4301802/anderson-jorge-serra-da-costa" target="_blank" rel="external">Veja mais sobre</a></p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3" style="max-width: 740px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="imgs/palestrantes/italo.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><strong>Italo Flexa Di Paolo</strong></h5>
              <p class="card-text">Cursando Doutorado em Engenharia Elétrica, área de Computação Aplicada, no Programa de Pós-Graduação em Engenharia Elétrica (PPGEE) da Universidade Federal do Pará (UFPA), Mestre em Engenharia Elétrica, área de Sistemas de Energia Elétrica pelo PPGEE/UFPA, Bacharel em Ciência da Computação pelo Centro Universitário do Estado do Pará (CESUPA) e Engenheiro Eletricista pela UFPA.</p>
              <p class="card-text"><a href="https://www.escavador.com/sobre/945911/italo-flexa-di-paolo" target="_blank" rel="external">Veja mais sobre</a></p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3" style="max-width: 740px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="imgs/palestrantes/fadul.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><strong>Jairo Fadul</strong></h5>
              <p class="card-text">Possui graduação em Engenharia Eletrônica, Especialização em Análise de Sistemas e Mestrado em Engenharia de Processos. Como Analista de Sistemas conta com um vasto conhecimento técnico e grande experiência prática, desenvolvendo, implantando e dando manutenção em sistemas das áreas Técnica, Administrativa e Financeira.</p>
              <p class="card-text"><a href="https://www.escavador.com/sobre/8012124/jairo-fadul-de-lima" target="_blank" rel="external">Veja mais sobre</a></p>
            </div>
          </div>
        </div>
      </div>

    </div>

  </section>

  <!-- JavaScript BootStrap-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>

  <!-- JavaScript navbar-->
  <script src="/javascript/navbar.js"></script>
</body>

</html>